* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: white;
  padding-top: 32px;
  padding-bottom: 30px;
  border: 1px solid #ececec;
  border-left: none;
  border-right: none;
}

.nav_icon-color {
  color: #222222;
  display: flex;
  align-items: center;
  font-size: 29px;
  position: relative;
}

.nav_icon-color:hover {
  color: grey;
  transition: all 0.3s;
}

.fa-magnifying-glass {
  color: #E8E8E8;
  display: flex;
  align-items: center;
  font-size: 15px;
  position: relative;
  color: #a4a4a4;
  padding: 11px;
  border-left: 1px solid #e6e6e6;
}

.container-left {
  display: flex;
  padding-left: 18%;
  justify-content: flex-start;
  align-items: center;
}

.container-right {
  gap: 26px;
  padding-right: 18%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top {
  background-color: #E8E8E8;
  max-width: 100vw;
  margin: 0 auto;
}

.header-title {
  border-left: 12px solid;
  border-color: #F16D7F;
  padding-left: 2%;
  font-family: "Lato", sans-serif;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container-main_img {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-image: url("img/main.png");
  width: 100%;
  max-width: 1600px;
  height: 665px;
  max-height: 665px;
}

.main-img {
  width: 100%;
  max-width: 50%;
}

.bigger {
  font-size: 40px;
}

.container-header {
  display: flex;
  align-items: center;
  padding-left: 7%;
  padding-right: 20%;
  width: 100%;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.item-big {
  width: 100%;
  max-width: 1600px;
}

.grid-feature {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3% 2%;
  justify-content: center;
}

.logo-brand, .letter_d {
  font-family: "Lato", sans-serif;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  padding-right: 37px;
}

.letter_d {
  font-weight: 900;
  color: #F16D7F;
}

.nav_menu {
  background-color: white;
}

ul.breadcrumb {
  padding: 19px 22px;
  list-style: none;
  gap: 76px;
  display: flex;
  justify-content: center;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #222222;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #F16D7F;
  text-decoration: underline;
}

.menu {
  padding-top: 3%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 7%;
  padding-right: 7%;
  width: 100%;
}

.grid {
  display: grid;
  justify-content: center;
  gap: 21px 20px;
}

.item_menu_1 {
  grid-row: 3;
  grid-column: 1;
  translate: 0 -70.35px;
}

.item_menu_2 {
  grid-row: 1/span 2;
  grid-column: 1;
}

.item_menu_3 {
  grid-column: 2;
  grid-row: 2/span 2;
  translate: 0 -35.35px;
}

.item_menu_4 {
  grid-row: 1;
  grid-column: 2;
}

.content {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
}

.hoverable_img {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 560px;
}

.hoverable_img img {
  max-width: 100%;
  transition: all 0.7s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}

.hoverable_img:hover img {
  transform: scale(1.5);
}

.content-font {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
  text-align: center;
}

.content-font-sub {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
  text-align: center;
}

.content-font-card-header {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-left: 15px;
  margin-top: 19px;
}

.content-font-card-price {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #F16D7F;
  margin-left: 15px;
  margin-top: 17px;
  margin-bottom: 21px;
}

.content-margin {
  margin-top: 87px;
  margin-bottom: 79px;
}

.item_content1 {
  position: relative;
}

.shop-cart .btn {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 14px;
  border: solid;
  cursor: pointer;
  border-radius: 1px;
  border-width: 1px;
  display: none;
}

.shop-cart:hover > .btn {
  display: block;
}

.btn:hover {
  background-color: #F16D7F;
  color: white;
  transition: all 0.3s;
}

.content-font-card {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-align: left;
  color: #9F9F9F;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 2%;
}

.block-line {
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 113px;
}

.button {
  text-decoration: none;
  padding: 1rem 2rem;
  border: 1px solid;
  color: #F16D7F;
  font-size: 16px;
  transition: all 0.3s;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
}
.button.__account {
  padding: 0px;
  font-weight: 700;
  letter-spacing: 0.025em;
  width: 138px;
  height: 38px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button:hover {
  color: white;
  background-color: #F16D7F;
  border: 1px solid #b84747;
}

.grid-delivery {
  display: grid;
  justify-content: center;
  background-color: #222222;
  gap: 0 1%;
  align-items: center;
  margin-bottom: 97px;
}

.item_delivery1 {
  grid-row: 1/span 3;
  grid-column: 1;
}

.item_delivery2 {
  grid-column: 2;
  grid-row: 1;
}

.item_delivery3 {
  grid-column: 2;
  grid-row: 2;
}

.item_delivery4 {
  grid-column: 2;
  grid-row: 3;
}

.item_delivery5 {
  grid-column: 3;
  grid-row: 1;
}

.item_delivery6 {
  grid-column: 3;
  grid-row: 2;
}

.item_delivery7 {
  grid-column: 3;
  grid-row: 3;
}

.icon_content-header {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.item_content-text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.on_top {
  top: 50%;
  bottom: 50%;
  translate: -50% -50%;
  left: 50%;
  right: 50%;
  position: absolute;
}

.footer_block {
  max-width: 1600px;
  margin: 0 auto;
}

.subscribe {
  background-image: url("img/photo subscribe.png");
  height: 448px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  gap: 350px;
}

.center-elements {
  align-items: center;
}

.container-subscribe-left {
  display: grid;
  padding-left: 4%;
  gap: 0 3%;
}

.elem_1 {
  grid-row: 1/span 2;
  grid-column: 1;
}

.elem_2 {
  grid-row: 1;
  grid-column: 2;
}

.elem_3 {
  grid-row: 2;
  grid-column: 2;
}

.elem_4 {
  grid-row: 3;
  grid-column: 2;
}

.flex_direct {
  flex-direction: column;
  align-items: center;
}

.container-subscribe-right {
  padding-right: 21%;
  display: flex;
  justify-content: flex-end;
}

.author-text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222222;
}

.dash {
  color: #F16D7F;
  font-size: 67px;
  font-weight: 1000;
}

.author-text-name {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #F16D7F;
}
.author-text-name.__location {
  font-size: 12px;
  font-weight: 300;
  color: #222222;
}

.text-subscribe-header {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.text-subscribe-header.__subheader {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

input {
  color: #222222;
  background-color: #E1E1E1;
}

input::-moz-placeholder {
  color: #000000;
}

input::placeholder {
  color: #000000;
}

.wrapper {
  width: 144%;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  position: relative;
}

.wrapper-email {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  position: relative;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  align-items: center;
  height: 38px;
  width: 100%;
  border-left: none;
  align-items: normal;
}

.wrapper-email input {
  width: 317px;
  border: none;
  background-color: #ffffff;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.wrapper input {
  border: none;
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 100%;
}

.wrapper button {
  background: #E1E1E1;
  border-radius: 0 50px 50px 0;
  height: 100%;
  width: 30%;
  background: #F16D7F;
  position: absolute;
  right: 0px;
  padding: 7px;
}

.logos {
  height: 79px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  gap: 660px;
}

.brand-text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

.element {
  background-color: white;
  padding: 16px;
}

.element:hover {
  background-color: #F16D7F;
  color: white;
  transition: all 0.3s;
}

.dropbtn {
  width: 87px;
  height: 38px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 232px;
  z-index: 1;
  padding-bottom: 16px;
  top: 100%;
  border-radius: 5px;
}

.dropdown-content a {
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4e4e4e;
  padding-top: 8px;
  padding-bottom: 8px;
}

.dropdown-content a:hover {
  background-color: #F16D7F;
  color: white;
}

.dropbtn:hover {
  background-image: linear-gradient(180deg, #F16D7F 0%, #F16D7F 100%);
}

.dropbtn:hover > .browse-text {
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hr_custom {
  width: 90%;
  height: 1px;
  color: #e8e8e8;
  position: relative;
  left: 5%;
  right: 5%;
}

.text-menu-subhader {
  padding-left: 15px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.browse-text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  letter-spacing: 0.025em;
  color: #222222;
}

.offer {
  background-color: white;
  position: relative;
  top: -66%;
  width: 224px;
  padding: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.offer-text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.offer-text.__subtext {
  font-size: 30px;
  color: #F16D7F;
}

.hoverable_card:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}

.hoverable_card:hover > .item-img {
  filter: brightness(50%);
  transition: all 0.3s;
}

.hoverable_card {
  width: 261px;
}

.columns {
  display: grid;
  gap: 5%;
  padding-left: 230px;
  padding-right: 230px;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-top: 120px;
  margin-bottom: 120px;
}

.col_1 {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
}

.col_2 {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.col_3 {
  grid-row: 1;
  grid-column: 3;
  display: flex;
  flex-direction: column;
}

.col_4 {
  grid-row: 1;
  grid-column: 4;
  display: flex;
  flex-direction: column;
}

.col-text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}

.col-text-header {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-bottom: 45px;
}

.col_ref {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}

.col_ref:hover {
  color: #F16D7F;
}

.flex-center {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.checkout {
  position: relative;
}

.summary-product {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.checkout__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 262px;
  height: 440px;
  background-color: #ffffff;
  border-radius: 5px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 20px;
  padding-top: 21px;
}

.product-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.total-text {
  margin-bottom: 33px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.close-checkout {
  color: #c0c0c0;
  align-items: center;
  display: flex;
}

.fa-circle-xmark:hover {
  color: #222222;
}

.check-out-price {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #F16D7F;
}

.check-out-heading {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}/*# sourceMappingURL=style.css.map */